#container-style, .navbar-default{
   background-color:rgb(188, 197, 207);
    border-radius: 0;
    border-color:rgb(188, 197, 207);
   
}

.navbar-brand {
    float:none;
}
.navbar-brand h1{
 font-size:30px;
 color:rgb(64, 63, 63);
 margin-left:20px;
}
.navbar-default .navbar-header > button{
    border-radius:5px;
    border: 2px solid rgb(101, 100, 100);
    background-color:rgb(188, 197, 207);
    margin-top:30px;
}
.navbar-header .icon-bar{
    
    border:2px solid rgb(101, 100, 100);
    border-radius:1px;
}

#nav-list li span {
    display:block;
    text-align: center;
}
#nav-list, #collapsable-nav{
    background-color:rgb(183, 189, 198);
    margin-left: -15px;
    margin-right:-15px;
    
}
#heading h1 {
   
    font-size: 3em;
    font-weight:bold;
}


#chicken, #beef, #sushi {
    background-color: rgb(130, 130, 130);
    margin:auto;
    margin-bottom: 20px;
    
    border:2px solid black;
    padding:15px;
    height:auto;
}




#chicken div, #beef div, #sushi div  {
    font-weight:bold;
    font-size:1.5em;
    text-align:center;
    margin: 15px auto 15px;
}
#chicken p, #beef p, #sushi p  {
    
    font-size:1.1em;
    text-align:center;
    text-align: justify;
    margin: 0 auto 15px;
}


/* extra small devices*/
@media (max-width: 767px) {
   
    .col-xs-12{
         width:90%;
        float:none;
        
    }
    #chicken, #beef, #sushi {
        margin-left: auto;
        margin-right: auto;
    }
}
@media(min-width:768px){
    #chicken, #beef, #sushi {
        margin-left: auto;
        margin-right: auto;
    }

     #main-content.container-fluid {
        margin-left:10px;
        margin-right:10px;
     }
}